@import "tailwindcss";
@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";

/* Configuración de Dark Mode basada en clases */
@variant dark (&:where(.dark, .dark *));

@theme {
  /* Colores */
  --color-primary: #ec4899;
  --color-secondary: #f59e0b;
  --color-tertiary: #3b82f6;
  --color-background-light: #f8fafc;
  --color-background-dark: #0f172a;
  --color-surface-light: #ffffff;
  --color-surface-dark: #1e293b;

  /* Fuentes conectadas a las variables de Next.js */
  --font-display: var(--font-poppins), sans-serif;
  --font-body: var(--font-poppins), sans-serif;

  /* Bordes */
  --radius: 0.5rem;
  --radius-xl: 1rem;
  --radius-2xl: 1.5rem;
}

/* Estilos base personalizados de la plantilla */
html {
  scroll-behavior: smooth;
}

.brand-gradient-text {
  background: linear-gradient(to right, #ec4899, #f59e0b, #3b82f6, #10b981);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}